<!doctype html>
<html class="no-js" lang="{% block html_lang %}{{ language|default('cs-CZ') }}{% endblock html_lang %}" prefix="og: http://ogp.me/ns#">
<head>
    {%- block meta_tags_outer %}
        <meta charset="utf-8">
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name='format-detection' content='telephone=yes'>
        <meta name='DC.Language' content='{{ block('html_lang') }}'>
        <title>{% block html_title %}{{ title|default(default_title|default(oswis.web.title)) }}{% endblock html_title %}</title>
        {% block tag_manager_script %}{% endblock tag_manager_script %}
        {% block html_meta_base %}{% endblock html_meta_base %}
        {% block html_meta_robots %}{% endblock html_meta_robots %}
        {% block html_meta_rss %}
            <link rel="alternate" type="application/rss+xml" href="{{ path('oswis_org_oswis_rss_xml') }}" title="RSS {{ oswis.web.title }}">
        {% endblock html_meta_rss %}
        <meta name="description" content="{% block html_description %}{{ description|default(default_description|default(oswis.web.description)) }}{% endblock html_description %}">
        <meta name='author' content='{% block meta_author %}{{ author|default('Jakub Zak (https://jakubzak.cz)') }}{% endblock meta_author %}'>
        <meta name='copyright' content='{% block meta_copyright %}{{ copyright|default('Jakub Zak (https://jakubzak.cz)') }}{% endblock meta_copyright %}'>
        <meta name='generator' content='{% block meta_generator %}OSWIS (One Simple Web IS, https://owsis.org){% endblock meta_generator %}'>
        <meta name='Designer' content='{% block meta_designer %}{{ designer|default('Jakub Zak (https://jakubzak.cz)') }}{% endblock meta_designer %}'>
        {% block meta_revisit_after_outer %}
            <meta name='Revisit-After' content='{% block meta_revisit_after %}{{ revisit_after|default('1 day') }}{% endblock meta_revisit_after %}'>
        {% endblock meta_revisit_after_outer %}
        {% block meta_tags_inner %}
            {% block meta_dns_prefetch %}
                <link rel="dns-prefetch" href="{{ preconnect(dns_prefetch('https://www.googletagmanager.com')) }}">
                <link rel="dns-prefetch" href="{{ preconnect(dns_prefetch('https://cdnjs.cloudflare.com')) }}">
                <link rel="dns-prefetch" href="{{ preconnect(dns_prefetch('https://www.google-analytics.com')) }}">
            {% endblock meta_dns_prefetch %}
            {% block meta_geo %}
                <meta name='geo.position' content='{% block meta_geo_position %}{{ block('meta_geo_x') }},{{ block('meta_geo_y') }}{% endblock %}'>
                <meta name='ICBM' content='{{ block('meta_geo_position') }}'>
            {% endblock meta_geo %}
            {% block meta_tags_app %}
                <meta name="application-name" content="{% block meta_app_name %}{{ block('html_title') }}{% endblock %}">
                <meta name="apple-mobile-web-app-title" content="{% block meta_app_title_apple %}{{ block('meta_app_name') }}{% endblock %}">
            {% endblock meta_tags_app %}
            {% block meta_tags_color %}
                <meta name="theme-color" content="{% block meta_theme_color %}{{ oswis.web.color|default('#3498d0') }}{% endblock %}">
                <meta name="msapplication-TileColor" content="{% block meta_tile_color %}{{ block('meta_theme_color') }}{% endblock %}">
            {% endblock meta_tags_color %}
            {% block meta_tags_icons %}
                <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/images/icons/apple-touch-icon.png') }}">
                <link rel="icon" type="image/x-icon" href="{{ asset('assets/images/icons/favicon.ico') }}">
                <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/icons/favicon-32x32.png') }}">
                <link rel="icon" type="image/png" sizes="194x194" href="{{ asset('assets/images/icons/favicon-194x194.png') }}">
                <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/images/icons/android-chrome-192x192.png') }}">
                <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/icons/favicon-16x16.png') }}">
                <link rel="mask-icon" href="{{ asset('assets/images/icons/safari-pinned-tab.svg') }}" color="{{ block('meta_theme_color') }}">
                <link rel="shortcut icon" href="{{ asset('assets/images/icons/favicon.ico') }}">
                <meta name="msapplication-TileImage" content="{{ asset('assets/images/icons/mstile-144x144.png') }}">
            {% endblock meta_tags_icons %}
            {% block meta_tags_web_manifest %}
                <link rel="manifest" href="{{ path('oswis_org_oswis_core_site_web_manifest') }}">
            {% endblock meta_tags_web_manifest %}
            {% block meta_tags_browserconfig %}
                <meta name="msapplication-config" content="{{ path('oswis_org_oswis_core_browserconfig_xml') }}">
            {% endblock meta_tags_browserconfig %}
            {% block meta_tags_canonical %}{% endblock meta_tags_canonical %}
            {% block meta_tags_links %}{% endblock meta_tags_links %}
            {% block meta_tags_fonts %}{% endblock meta_tags_fonts %}
        {% endblock meta_tags_inner %}
        {% block meta_og %}
            <meta property="og:site_name" content="{{ block('meta_app_name') }}">
            <meta property="og:title" content="{{ block('html_title') }}">
            <meta property="og:description" content="{{ block('html_description') }}">
            <meta property="og:locale" content="{{ block('html_lang') }}">
            <meta property="og:type" content="{% block og_type %}{{ og_type|default('website') }}{% endblock %}">
            <meta property="og:url" content="{{ absolute_url(app.request.pathInfo) }}">
            {% block meta_og_image %}
            {% endblock meta_og_image %}
            {% block meta_og_twitter %}
                <meta name="twitter:card" content="summary">
                <meta name="twitter:site" content="{{ block('meta_app_name') }}">
                <meta name="twitter:creator" content="{{ block('meta_author') }}">
            {% endblock meta_og_twitter %}
            {% block meta_og_geo %}
                <meta property="og:latitude" content="{% block meta_geo_x %}{{ geo_lat|default(oswis.web.geo_x) }}{% endblock %}"/>
                <meta property="og:longitude" content="{% block meta_geo_y %}{{ geo_lon|default(oswis.web.geo_y) }}{% endblock %}"/>
            {% endblock meta_og_geo %}
            {% block meta_og_additional %}{% endblock meta_og_additional %}
        {% endblock %}
        {% block meta_hinclude_config %}
            <meta name="include_mode" content="async"/>
        {% endblock meta_hinclude_config %}
    {% endblock meta_tags_outer %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% if css is defined and css %}
            {% autoescape false %}
                <style type="text/css">{{ css|default }}</style>
            {% endautoescape %}
        {% endif %}
    {% endblock stylesheets %}
</head>
{% block html_inner %}
    <body>
    {% block body_outer %}

        {% block tag_manager_noscript %}{% endblock tag_manager_noscript %}

        {% block body_start %}{% endblock body_start %}

        {% block body_inner %}
        {% endblock body_inner %}

    {% block body_add_to_homescreen %}
        <div id="addtohomescreen">PŘIDAT NA PLOCHU</div>
    {% endblock body_add_to_homescreen %}

    {% block body_scroll_to_top %}
        <div id=scroll-top-button class="d-print-none"><i class="far fa-arrow-alt-circle-up"></i></div>
    {% endblock body_scroll_to_top %}

        {% block body_end %}{% endblock body_end %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% if js is defined and js %}
        {% autoescape false %}
        <script>{{ js|default }}</script>
        {% endautoescape %}
        {% endif %}
    {% endblock javascripts %}

    {% block javascript_hinclude %}
        <script src="{{ preload('https://cdn.jsdelivr.net/npm/Hinclude@1.2.0/hinclude.js', {as: 'script'}) }}" rel="prefetch"></script>
    {% endblock javascript_hinclude %}
    {% block javascript_service_worker %}
        <script>
          if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', {scope: '/'}).then(function (registration) {
              // console.log('Service Worker Registered');
            });
            navigator.serviceWorker.ready.then(function (registration) {
              // console.log('Service Worker Ready');
            });
          }
        </script>
    {% endblock javascript_service_worker %}

    {% endblock body_outer %}

    </body>
{% endblock html_inner %}
</html>
