<!doctype html>
<html class="no-js" lang="cs-cz">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block html_title %}OSWIS{% endblock %}</title>
    <meta name="description" content="{% block html_description %}One Simple Web IS{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="manifest" href="site.webmanifest">-->

    {% block meta_tags %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('bundles/oswis-core-bundle/favicons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/images/favicons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="194x194" href="{{ asset('assets/images/favicons/favicon-194x194.png') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/images/favicons/android-chrome-192x192.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/favicons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('assets/images/favicons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('assets/images/favicons/safari-pinned-tab.svg') }}" color="#3498d0">
        <link rel="shortcut icon" href="{{ asset('assets/images/favicons/favicon.ico') }}">
        <meta name="msapplication-config" content="{{ asset('assets/images/favicons/browserconfig.xml') }}">
        <meta name="apple-mobile-web-app-title" content="OSWIS">
        <meta name="application-name" content="OSWIS">
        <meta name="msapplication-TileColor" content="#3498d0">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#3498d0">
    {% endblock %}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
{% block old_browser_notice %}
    <!--[if IE]>
    <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and
        security.<br>
        Používáte <strong>příliš zastaralý</strong> prohlížeč. <a href="https://browsehappy.com/">Aktualizujte jej</a>, prosím.<br>
    </p>
    <![endif]-->
{% endblock %}

{% block body %}
    <div class="container">
        <div class="col-12">
            <p>
                Obsah stránky nebyl načten.
            </p>
        </div>
    </div>
{% endblock %}


<!-- <script src="https://www.openlayers.org/api/OpenLayers.js"></script> -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>
