{% extends '@OswisOrgOswisCore/e-mail/pages/app-user.html.twig' %}

{% block content_inner %}
    <p>
        {% if 'activation-request' == type %}
            Byl vytvořen {{ f ? 'Váš' : 'Tvůj' }} nový uživatelský účet v aplikaci <b>{{ oswis.app.name }}</b>.<br>
        {% elseif type == 'activation' %}
            {{ f ? 'Váš' : 'Tvůj' }} uživatelský účet v aplikaci <b>{{ oswis.app.name }}</b> byl aktivován.<br>
        {% else %}
            došlo ke změně u {{ f ? 'Vašeho' : 'Tvého' }} uživatelského účtu v aplikaci <b>{{ oswis.app.name }}</b>.
        {% endif %}
    </p>

    {% if 'activation-request' == type and tokenUrl %}
        Ještě je nutné provést aktivaci uživatelského účtu. Aktivaci provede{{ f ? 'te' : 'š' }} na následujícím odkazu:<br>
        <a href="{{ tokenUrl }}" class="token-box" title="Odkaz pro aktivaci účtu" target="_blank">{{ tokenUrl }}</a>
        {% if appUserToken.validHours|default %}
            <br><small>Odkaz je platný {{ appUserToken.validHours }} hodin od vygenerování.</small>
        {% endif %}
    {% endif %}

    <p>
        Uživatelské jméno u uživatelského účtu je
        <strong>{{ appUser.username|default ? appUser.username|default : appUser.email|default }}</strong>
        a&nbsp;hlavní e-mail je nastaven na <strong>{{ appUser.email|default }}</strong>.
        {% if appUser.plainPassword|default %}
            Bylo nastaveno nové, náhodně vygenerované, heslo:
            <span style="display: block; width: 100%; border: 1px solid lightgrey; padding: .5em 1em;margin: .5em 0;">
                {{ appUser.plainPassword }}
            </span>
        {% elseif appUser.password %}
            Heslo bylo nastaveno uživatelem při registraci.
        {% else %}
            Heslo si nastaví{{ f ? 'te' : 'š' }} při aktivaci účtu.
            Pokud heslo zapomene{{ f ? 'te' : 'š' }}, může{{ f ? 'te' : 'š' }} jej obnovit pomocí tlačítka na přihlašovací stránce aplikace.
        {% endif %}
    </p>
{% endblock %}
