{% set f = f is defined ? f : true %}
{% set salName = salutationName is defined and salutationName ? salutationName : '' %}
{# {% set logo_src = logo is defined and logo ? logo : absolute_url(asset('@OswisOrgOswisCoreBundle/Resources/public/logo.png')) %} #}

{% apply inky_to_html|inline_css(source('@OswisOrgOswisCore/e-mail/pages/foundation-emails.css.twig' )) %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml" lang='{% block html_lang %}cs-CZ{% endblock %}' dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width"/>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
        <meta name='format-detection' content='telephone=yes'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0'/>
        <meta name='author' content='{% block meta_author %}{{ oswis.app.author|default('Jakub Zak (https://jakubzak.cz)') }}{% endblock %}'/>
        <meta name='copyright' content='{% block meta_copyright %}{{ oswis.app.copyright|default('Jakub Zak (https://jakubzak.cz)') }}{% endblock %}'/>
        <meta name='generator' content='OSWIS - One Simple Web IS'/>
        <meta name='Description' content='{% block meta_description %}Zpráva z OSWIS (One Simple Web IS){% endblock %}'/>
        <meta name='Designer' content='Jakub Zak (https://jakubzak.cz)'/>
        <meta name='Revisit-After' content='1 day'/>
        <meta name='geo.position' content='{% block meta_geo %}{{ oswis.app.copyright|default('') }}{% endblock %}'/>
        <meta name='ICBM' content='{{ block('meta_geo') }}'>
        <meta name='DC.Language' content='{{ block('html_lang') }}'>
        <title>{% block html_title %}{{ email.subject|default('Zpráva z OSWIS (One Simple Web IS)') }}{% endblock %}</title>
        <meta name="theme-color" content="{% block meta_theme_color %}{{ oswis.app.copyright|default('#006FAD') }}{% endblock %}">
        <meta name="msapplication-TileColor" content="{% block meta_tile_color %}{{ block('meta_theme_color') }}{% endblock %}">
    </head>

    {% block html_inner %}
        <style type='text/css'>
            {% include '@OswisOrgOswisCore/e-mail/parts/message_footer.html.twig' %}
        </style>
        {% block additional_css %}{% endblock additional_css %}{# Additional CSS <style> tags from inherited templates. #}

        <body>
        {% block body_outer %}
            <container class="header">
                {% block header_outer %}
                    {% include '@OswisOrgOswisCore/e-mail/parts/message_footer.html.twig' %}
                {% endblock header_outer %}
            </container>

            <container class="content">
                {% block content_header_outer %}
                    <row>
                        <columns small="12" large="12">
                            {% block content_header_inner %}
                                {% if f %}Dobrý den{% else %}Ahoj{% endif %}{{ salName ? ' ' ~ salName : '' }}!
                            {% endblock content_header_inner %}
                        </columns>
                    </row>
                {% endblock content_header_outer %}
                {% block content_outer %}
                    <row>
                        <columns small="12" large="12">
                            {% block content_inner %}
                                <p style="color:red;font-weight:bold;">
                                    Nastala chyba při odesílání zprávy a její obsah nebyl načten.
                                </p>
                                <p style="color:red;font-weight:bold;">
                                    Kontaktuj{{ f ? 'te' : '' }} nás, prosím, ať můžeme nastalou situaci co nejrychleji vyřešit.
                                </p>
                            {% endblock content_inner %}
                        </columns>
                    </row>
                {% endblock content_outer %}
                {% block content_footer_outer %}
                    <row>
                        <columns small="12" large="12">
                            {% block content_footer_inner %}
                                V případě nejasností nebo problémů nás neváhej{{ f ? 'te' : '' }} kontaktovat.
                            {% endblock content_footer_inner %}
                        </columns>
                    </row>
                {% endblock content_footer_outer %}
            </container>

            <container class="footer">
                {% block footer_outer %}
                    {% include '@OswisOrgOswisCore/e-mail/parts/message_footer.html.twig' %}
                {% endblock footer_outer %}
            </container>
        {% endblock body_outer %}
        </body>
    {% endblock html_inner %}
    </html>
{% endapply %}
