{{- null -}}
<li class="breadcrumb-item {{ b_active is defined and b_active ? 'active' : '' }}" {{ b_active is defined and b_active ? 'aria-current="page"' : '' }}
    itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <a itemprop="item" itemscope itemtype="https://schema.org/WebPage" itemid="{{- b_url|default -}}" href="{{- b_url|default -}}">
        {{- null -}}<span itemprop="name">{{- b_title|default('Nepojmenovaná stránka') -}}</span>{{- null -}}
    </a>
    <meta itemprop="position" content="{{ b_position|default(breadcrumb_index|default) }}">
</li>
{{- null -}}
{% set breadcrumb_index = breadcrumb_index + 1 %}
{{- null -}}