{% extends '@OswisOrgOswisCore/web/html-skeleton-default.html.twig' %}

{% set page = "admin" %}

{% block html_meta_robots %}
    <meta name="robots" content="noindex, nofollow">
{% endblock html_meta_robots %}

{% block meta_tags_fonts %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet">
{% endblock meta_tags_fonts %}

{% block html_meta_base %}
    <base href="{{ path('oswis_org_oswis_core_web_admin') }}/">
{% endblock html_meta_base %}

{% block html_title -%}
    {{ title|default(oswis.app.name) }}
{%- endblock html_title %}

{% block meta_tags_browserconfig %}
    <meta name="msapplication-config" content="browserconfig.xml">
{% endblock meta_tags_browserconfig %}

{% block meta_tags_web_manifest %}
    <link rel="manifest" href="{{ 'site.webmanifest' }}">
{% endblock meta_tags_web_manifest %}

{% block stylesheets %}
    {{ parent() }}
    {% for style in oswis.angularAdmin.styles|default %}
        <link rel="stylesheet" href="{{ style.name|default }}" {{ style.options|default|raw }}>
    {% endfor %}
{% endblock stylesheets %}

{% block body_outer %}
    <app-root>
        <div class="loading-screen" id="loading-screen">
            <div class="loading-wrapper">
                <div class="sk-fading-circle">
                    <div class="sk-circle1 sk-circle"></div>
                    <div class="sk-circle2 sk-circle"></div>
                    <div class="sk-circle3 sk-circle"></div>
                    <div class="sk-circle4 sk-circle"></div>
                    <div class="sk-circle5 sk-circle"></div>
                    <div class="sk-circle6 sk-circle"></div>
                    <div class="sk-circle7 sk-circle"></div>
                    <div class="sk-circle8 sk-circle"></div>
                    <div class="sk-circle9 sk-circle"></div>
                    <div class="sk-circle10 sk-circle"></div>
                    <div class="sk-circle11 sk-circle"></div>
                    <div class="sk-circle12 sk-circle"></div>
                </div>
            </div>
        </div>
    </app-root>
    {% for script in oswis.angularAdmin.scripts|default %}
        <script src="{{ script.name|default }}" {{ script.options|default }}></script>
    {% endfor %}
{% endblock body_outer %}

