<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="{{ absolute_url(path('oswis_org_oswis_rss_css')) }} ?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" version="2.0">
    <channel>
        <title>{% block title %}{{ title|default('RSS kanál aktualit') }}{% endblock title %}</title>
        <link>{% block url %}{{ url|default(absolute_url(path('oswis_org_oswis_core_homepage_action'))) }}{% endblock url %}</link>
        <description>{{ description|default('Přehled nejnovějších aktualit ve formě RSS kanálu.') }}</description>
        <webMaster>
            {%- block admin -%}
                {{- oswis.admin ? oswis.admin.email~' ('~oswis.admin.name~','~oswis.admin.web~')' : 'webmaster@oswis.org (Jakub ZAK, https://jakubzak.cz)' -}}
            {%- endblock admin -%}
        </webMaster>
        <managingEditor>{{ block('admin') }}</managingEditor>
        <category>{{ type|default('website') }}</category>
        <language>{{ language|default('cs-CZ') }}</language>
        <pubDate>{{ "now"|date("D, d M Y H:i:s O") }}</pubDate>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>
        <generator>OSWIS (One Simple Web IS)</generator>
        <lastBuildDate>{{ "now"|date("D, d M Y H:i:s O") }}</lastBuildDate>
        <atom:link href="{{ absolute_url(path('oswis_org_oswis_rss_xml')) }}" rel="self" type="application/rss+xml"/>
        <sy:updatePeriod>{{ updatePeriod|default('hourly') }}</sy:updatePeriod>
        <sy:updateFrequency>{{ updateFrequency|default('1') }}</sy:updateFrequency>
        <image>
            <url>{{ absolute_url(asset(image|default ? image.url : oswis.app.logo)) }}</url>
            {% if image.width|default %}
                <width>{{ image.width|default }}</width>{% endif %}
            {% if image.height|default %}
                <height>{{ image.height|default }}</height>{% endif %}
            <description>{{ block('title') }}</description>
            <title>{{ block('title') }}</title>
            <link>{{ block('url') }}</link>
        </image>
        {% block items_core %}
            {% include '@OswisOrgOswisCore/web/pages/rss-items.xml.twig' %}
        {% endblock items_core %}
        {% block items_additional %}
        {% endblock items_additional %}
    </channel>
</rss>
<!-- OSWIS, https://oswis.org, Jakub ZAK, https://jakubzak.cz -->
