{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block html_title %}Přihlášení{% endblock %}

{% block body_content %}
    <main class="container" id="main-content-container">
        <div class="row">
            {% if error %}
                <div class="col-12">
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                </div>
            {% endif %}
            {% if app.user %}
            <div class="col-12">
                <div class="m-3">
                    Přihlášen(a) jako <strong>{{ app.user.userIdentifier }}</strong>.
                </div>
                <table class="m-3">
                    <tr>
                        <td>Jméno:</td>
                        <td>{{ app.user.name }}</td>
                    </tr>
                    <tr>
                        <td>Uživatelské jméno:</td>
                        <td>{{ app.user.userIdentifier }}</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <td>Typ uživatele:</td>
                        <td>{{ app.user.appUserType.name }}</td>
                    </tr>
                    <tr>
                        <td>Role uživatele:</td>
                        <td>{{ app.user.appUserType.allRoleNames|join(', ') }}</td>
                    </tr>
                </table>
                <div class="m-3">
                    <strong>Pokračovat:</strong>
                    <ul>
                        <li><a href="{{ path('oswis_org_oswis_core_homepage_action') }}">na&nbsp;web</a></li>
                        {% if app.user.role('ROLE_MANAGER') or app.user.role('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('oswis_org_oswis_core_web_admin_homepage') }}">do&nbsp;administrace</a>
                            </li>
                        {% endif %}
                        <li><a href="{{ path('oswis_org_oswis_core_portal') }}">do&nbsp;aplikace</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12">
                <form action="{{ path('oswis_org_oswis_core_web_admin_logout') }}">
                    <button class="btn btn-lg btn-primary m-3" type="submit">
                        Odhlásit
                    </button>
                </form>
            </div>
            {% endif %}
            {% if not app.user %}
                <form method="post">
                    <div class="col-12">
                        <h1 class="h3 mb-3 font-weight-normal">Přihlášení</h1>
                        <label for="inputUsername">
                            <span>Uživatelské jméno nebo e-mail:<br></span>
                            <input type="text" value="{{ last_username }}" name="_username" id="inputUsername"
                                   class="form-control" required autofocus>
                        </label>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword">
                            <span>Heslo:<br></span>
                            <input type="password" name="_password" id="inputPassword" class="form-control" required>
                        </label>
                    </div>
                    <div class="col-12">
                        <div class="checkbox mb-3">
                            <label><input type="checkbox" name="_remember_me">&nbsp;Zapamatovat</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-lg btn-primary m-3" type="submit">
                            Přihlásit
                        </button>
                    </div>
                </form>
            {% endif %}
        </div>
    </main>
{% endblock %}

