{% extends '@OswisOrgOswisCore/web_admin/page-skeleton-web-admin.html.twig' %}

{% block html_title %}Úvod :: ADMIN{% endblock %}

{% block body_content %}
    <main class="container" id="main-content-container">
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <td>Jméno:</td>
                        <td>{{ app.user.name }}</td>
                    </tr>
                    <tr>
                        <td>Uživatelské jméno:</td>
                        <td>{{ app.user.userIdentifier }}</td>
                    </tr>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <td>Typ uživatele:</td>
                        <td>{{ app.user.appUserType.name }}</td>
                    </tr>
                    <tr>
                        <td>Role uživatele:</td>
                        <td>{{ app.user.appUserType.allRoleNames|join(', ') }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </main>
{% endblock %}

