{% extends '@OswisOrgOswisCore/web_admin/page-skeleton-web-admin.html.twig' %}

{% block html_title %}Úvod :: ADMIN{% endblock %}

{% block body_content %}
    <main class="container" id="main-content-container">
        <div class="row">
            <div class="col">
                <table class="list">
                    <tbody>
                    <tr>
                        <td>Jméno:</td>
                        <td>{{ app.user.name }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Uživatelské jméno:</td>
                        <td>{{ app.user.userIdentifier }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Typ uživatele:</td>
                        <td>{{ app.user.appUserType.name }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Role uživatele:</td>
                        <td>{{ app.user.appUserType.allRoleNames|join(', ') }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="m-3">
                    <strong>Pokračovat:</strong>
                    <ul>
                        <li><a href="{{ path('oswis_org_oswis_core_homepage_action') }}">na&nbsp;web</a></li>
                        <li><a href="{{ path('oswis_org_oswis_core_portal') }}">do&nbsp;aplikace</a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col">

                {% if app.user.role('ROLE_MANAGER') or app.user.role('ROLE_ADMIN') %}
                    <h2>Systémové akce</h2>
                    <ul>
                        <li>
                            <a href="{{ path('oswis_org_oswis_core_internal_action_clear_cache') }}">Smazat cache</a>
                        </li>
                    </ul>

                    <h2>Účastníci a přihlášky</h2>
                    <ul>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participants_list') }}">Všechny přihlášky</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participants_unpaid') }}">Nezaplacené přihlášky</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participants_unpaid_deposit') }}">Nezaplacené zálohy</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participants_overpaid') }}">Přeplacené přihlášky</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participants_food') }}">Stravovací omezení</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('oswis_org_oswis_calendar_web_admin_bulk_reassign') }}">Hromadný přesun účastníků</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_compare_years') }}">Srovnání ročníků</a>
                        </li>
                    </ul>

                    <h2>Platby</h2>
                    <ul>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participant_payments_list', { filter: 'orphaned' }) }}">Nepřiřazené platby</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participant_payments_list', { filter: 'all' }) }}">Přehled plateb</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_participant_payments_import') }}">Import plateb (CSV)</a>
                        </li>
                    </ul>

                    <h2>Katalog (příznaky, nabídky, rozsahy)</h2>
                    <ul>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_catalog', { tab: 'flags' }) }}">Příznaky</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_catalog', { tab: 'categories' }) }}">Kategorie příznaků</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_catalog', { tab: 'offers' }) }}">Nabídky / rozsahy</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_calendar_web_admin_catalog', { tab: 'flag-offers' }) }}">Nabídky příznaků</a>
                        </li>
                    </ul>

                    {% if is_granted('ROLE_ADMIN') %}
                        <h2>Komunikace</h2>
                        <ul>
                            <li>
                                <a href="{{ path('oswis_org_oswis_calendar_web_admin_imap_unmatched') }}">Nezařazené e-maily (IMAP)</a>
                            </li>
                            <li>
                                <a href="{{ path('oswis_org_oswis_calendar_web_admin_mail_config') }}">Konfigurace e-mailů (šablony, skupiny, kategorie)</a>
                            </li>
                        </ul>

                        <h2>Pokročilé</h2>
                        <ul>
                            <li>
                                <a href="{{ path('app_web_admin_clone_year') }}">Klonovat ročník</a>
                            </li>
                            <li>
                                <a href="{{ path('app_web_admin_users_list') }}">Uživatelé</a>
                            </li>
                        </ul>
                    {% endif %}
                {% endif %}

                {% block additional_actions %}
                {% endblock %}


            </div>
        </div>


    </main>
{% endblock %}

