{% extends '@OswisOrgOswisCore/web_admin/page-skeleton-web-admin.html.twig' %}

{% block html_title %}Úvod :: ADMIN{% endblock %}

{% block body_content %}
    <main class="container" id="main-content-container">
        <div class="row">
            <div class="col">
                <table class="list">
                    <tbody>
                    <tr>
                        <td>Jméno:</td>
                        <td>{{ app.user.name }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Uživatelské jméno:</td>
                        <td>{{ app.user.userIdentifier }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>E-mail:</td>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Typ uživatele:</td>
                        <td>{{ app.user.appUserType.name }}</td>
                    </tr>
                    </tbody>
                    <tbody>
                    <tr>
                        <td>Role uživatele:</td>
                        <td>{{ app.user.appUserType.allRoleNames|join(', ') }}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="m-3">
                    <strong>Pokračovat:</strong>
                    <ul>
                        <li><a href="{{ path('oswis_org_oswis_core_homepage_action') }}">na&nbsp;web</a></li>
                        <li><a href="{{ path('oswis_org_oswis_core_portal') }}">do&nbsp;aplikace</a></li>
                    </ul>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col">

                {% if app.user.role('ROLE_MANAGER') or app.user.role('ROLE_ADMIN') %}
                    <h2>Systémové akce</h2>
                    <ul>
                        <li>
                            <a href="{{ path('oswis_org_oswis_core_internal_action_clear_cache') }}">Smazat cache</a>
                        </li>
                        <li>
                            <a href="{{ path('oswis_org_oswis_core_web_admin_test_session') }}">Test session</a>
                        </li>
                    </ul>
                {% endif %}

                {% block additional_actions %}
                {% endblock %}


            </div>
        </div>


    </main>
{% endblock %}

