{% extends '@OswisOrgOswisCore/web/page-skeleton-default.html.twig' %}

{% block html_title %}{{ block('error_title') }} :: {{ oswis.web.title }}{% endblock %}
{% block html_description %}{{ block('error_content') }}{% endblock %}

{% block body_content %}
    <main class="container" id="main-content-container">
        <div class="row text-justify">
            <div class="col-lg-9">
                <header>
                    <h2 class="text-uppercase">
                        {% block error_title %}
                            Chyba
                        {% endblock error_title %}
                    </h2>
                </header>
                {% block error_content %}
                    <p>V aplikaci nastala chyba. Zkuste to znovu nebo nás kontaktujte.</p>
                {% endblock error_content %}
                <p><small>{{ status_code }} {{ status_text }}</small></p>
            </div>
        </div>
    </main>
{% endblock body_content %}

{% block body_breadcrumbs %}
{% endblock body_breadcrumbs %}
