{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block description %}
    {% if type == 'activation-request' %}
    Vytvoření uživatelského účtu
    {% if type == 'activation' %}
        Aktivace uživatelského účtu
    {% else %}
        Změna uživatelského účtu
    {% endif %}
{% endblock %}
{% block content %}
    <table style="width:90%; min-width:300px; max-width:800px; margin:10px auto; text-align:justify;">
        <tr>
            <td colspan="2">
                <p>
                    Dobrý den,

                    {% if type == 'activation-request' %}
                        byl vytvořen nový uživatelský účet v informačním systému.<br>
                    {% elseif type == 'activation' %}
                        Váš uživatelský účet byl aktivován.<br>
                    {% else %}
                        došlo ke změně u Vašeho uživatelského účtu v informačním systému.
                    {% endif %}
                </p>

                {% if type == 'activation-request' and token %}
                    Ještě je nutné provés aktivaci uživatelského účtu. Aktivaci provedete na následujícím odkazu:
                    Nové heslo nastavíte na adrese:
                    <a href="{{ tokenUrl }}" title="Odkaz pro aktivaci účtu" target="_blank">{{ tokenUrl }}</a>.
                    Odkaz je platný 12 hodin od vygenerování.
                {% endif %}

                <p>
                    Uživatelské jméno u uživatelského účtu je <strong>{{ appUser.username }}</strong>
                    a hlavní e-mail je nastaven na <strong>{{ appUser.email }}</strong>.
                    {% if password %}
                        Bylo nastaveno nové náhodně vygenerované heslo <strong>{{ password }}</strong>.
                    {% elseif appUser.password %}
                        Heslo bylo nastaveno při registraci.
                    {% else %}
                        Heslo si nastavíte při aktivaci účtu.
                        Pokud heslo zapomenete, můžete jej obnovit pomocí tlačítka na přihlašovací stránce aplikace.
                    {% endif %}
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <hr color='#EB6D25' style='color:#EB6D25;'>
                    <small color="#eb6d25" style="font-size:0.7em;color:#eb6d25;">
                        Tento e-mail byl vygenerován a zaslán automaticky aplikací OSWIS.
                    </small>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}




