{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Změna v uživatelském účtu') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock meta_description %}

{% block content_inner %}
    <p>
        {% if type == 'activation-request' %}
            Byl vytvořen {{ f ? 'Váš' : 'Tvůj' }} nový uživatelský účet v informačním systému.<br>
        {% elseif type == 'activation' %}
            {{ f ? 'Váš' : 'Tvůj' }} uživatelský účet byl aktivován.<br>
        {% else %}
            došlo ke změně u {{ f ? 'Vašeho' : 'Tvého' }} uživatelského účtu v informačním systému.
        {% endif %}
    </p>

    {% if type == 'activation-request' and token %}
        Ještě je nutné provést aktivaci uživatelského účtu. Aktivaci provede{{ f ? 'te' : 'š' }} na následujícím odkazu:<br>
        <a href="{{ absolute_url(path('zakjakub_oswis_core_app_user_activation', {'token': token})) }}" title="Odkaz pro aktivaci účtu"
           target="_blank">{{ absolute_url(path('zakjakub_oswis_core_app_user_activation', {'token': token})) }}</a>.<br>
        <small>Odkaz je platný 24 hodin od vygenerování.</small>
    {% endif %}

    <p>
        Uživatelské jméno u uživatelského účtu je
        <strong>{{ appUser.username ? appUser.username : appUser.email }}</strong>
        a hlavní e-mail je nastaven na <strong>{{ appUser.email }}</strong>.
        {% if password %}
            Bylo nastaveno nové, náhodně vygenerované, heslo <strong>{{ password }}</strong>.
        {% elseif appUser.password %}
            Heslo bylo nastaveno při registraci.
        {% else %}
            Heslo si nastaví{{ f ? 'te' : 'š' }} při aktivaci účtu.
            Pokud heslo zapomene{{ f ? 'te' : 'š' }}, může{{ f ? 'te' : 'š' }} jej obnovit pomocí tlačítka na přihlašovací stránce aplikace.
        {% endif %}
    </p>
{% endblock %}




