{% set base_url = 'https://oswis.org' %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang='{% block html_lang %}cs-CZ{% endblock %}' dir="ltr" style="width:100%;margin:0;padding:0;min-width:100%;max-width:100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='format-detection' content='telephone=yes'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0'>
    <meta name='author' content='{% block meta_author %}Jakub Zak (https://jakubzak.cz){% endblock %}'>
    <meta name='copyright' content='{% block meta_copyright %}Jakub Zak (https://jakubzak.cz){% endblock %}'>
    <meta name='generator' content='OSWIS - One Simple Web IS'>
    <meta name='Description' content='{% block meta_description %}Zpráva z OSWIS (One Simple Web IS){% endblock %}'>
    <meta name='Designer' content='Jakub Zak (https://jakubzak.cz)'>
    <meta name='Revisit-After' content='1 day'>
    <meta name='geo.position' content='{% block meta_geo %}49.5922829,17.2633168{% endblock %}'>
    <meta name='ICBM' content='{{ block('meta_geo') }}'>
    <meta name='DC.Language' content='{{ block('html_lang') }}'>
    <title>{% block html_title %}{{ email.subject|default('Zpráva z OSWIS (One Simple Web IS)') }}{% endblock %}</title>
    <meta name="theme-color" content="{% block meta_theme_color %}#006FAD{% endblock %}">
    <meta name="msapplication-TileColor" content="{% block meta_tile_color %}{{ block('meta_theme_color') }}{% endblock %}">
</head>

{% block html_inner %}

    {% apply inky|inline_css(source('@ZakjakubOswisCore/e-mail/foundation-emails.css.twig' )) %}

        <style type='text/css'>
            {% include '@ZakjakubOswisCore/e-mail/message.css.twig' %}
        </style>
        {% block additional_css %}{% endblock additional_css %}

        <body>
        {% block body_outer %}

            <container class="header">
                <row>
                    <columns small="12" large="8">
                        <center>
                            {% block header_logo %}
                                <img alt='Logo' src='{{ logo is defined and logo ? logo : absolute_url(asset('bundles/zakjakuboswiscore/favicons/apple-touch-icon-180x180.png')) }}'>
                            {% endblock %}
                        </center>
                    </columns>
                </row>
            </container>

            <container class="content">
                <row>
                    {% block content_outer %}
                        <columns small="12" large="12">
                            {% block content_inner %}
                                <p>Nastala chyba. Obsah zprávy nebyl načten. Kontaktujte nás, prosím.</p>
                            {% endblock %}
                        </columns>
                    {% endblock %}
                </row>
            </container>

            <container class="footer">
                <row>
                    {% block footer_outer %}
                        <columns small="12" large="12">
                            {% block footer_inner %}
                                <hr>
                                <small>Tento e-mail byl vygenerován a zaslán automaticky aplikací OSWIS.</small>
                            {% endblock %}
                        </columns>
                    {% endblock %}
                </row>
            </container>

        {% endblock body_outer %}
        </body>

    {% endapply %}

{% endblock html_inner %}
</html>
