{% extends '@OswisOrgOswisCore/e-mail/message.html.twig' %}
{% set yours = f ? 'Vašeho' : 'Tvého' %}
{% set tokenUrl = appUserToken|default and appUserToken.appUser|default ? path('oswis_org_oswis_core_app_user_process_token',
    {'token': appUserToken.token|default, 'appUserId': appUserToken.appUser.id|default}) : null %}

{% block html_title %}{{ email.subject|default('Změna hesla u uživatelského účtu') }}{% endblock html_title %}
{% block meta_description %}{{ block('html_title') }}{% endblock meta_description %}

{% block content_inner %}
    <p>
        u {{ yours }} uživatelského účtu v aplikaci <b>{{ oswis.app.name }}</b> byl zaznamenán požadavek na změnu přihlašovacího hesla.
    </p>
    {% if type == 'password-change-request' %}
        <p>
            {% if tokenUrl|default %}
                Nové heslo nastaví{{ f ? 'te' : 'š' }} na adrese:<br>
                <span style="border: 1px solid lightgrey; padding: .5em 1em;margin: .5em 0;">
                    <a href="{{ tokenUrl }}" title="Odkaz pro nastavení hesla" target="_blank">{{ tokenUrl }}</a>
                </span>
                {% if appUserToken.validHours|default %}
                    <br><small>Odkaz je platný {{ appUserToken.validHours }} hodin od vygenerování.</small>
                {% endif %}
            {% else %}
                Odkaz pro změnu hesla se z neočekávaných důvodů nepodařilo vygenerovat.<br>
                <small>Kontaktuj{{ f ? 'te' : '' }} nás, prosím, pro vyřešení situace.</small>
            {% endif %}
        </p>
    {% elseif type == 'password-change' %}
        <p>
            Nové heslo bylo úspěšně nastaveno.
            {% if password %}
                <br><strong>Nově nastavené vygenerované heslo:</strong><br>
                <span style="border: 1px solid lightgrey; padding: .5em 1em;margin: .5em 0;">{{ password }}</span>
            {% endif %}
        </p>
    {% else %}
        <p>Při zpracování požadavku na změnu hesla došlo k chybě.</p>
        <p>Kontaktuje nás, prosím.</p>
    {% endif %}
{% endblock %}


