{% extends '@ZakjakubOswisCore/e-mail/message.html.twig' %}

{% block html_title %}{{ email.subject|default('Změna hesla u uživatelského účtu') }}{% endblock %}
{% block meta_description %}{{ block('html_title') }}{% endblock meta_description %}

{% block content_inner %}
    <p>
        u {{ f ? 'Vašeho' : 'Tvého' }} uživatelského účtu v informačním systému byl zaznamenán požadavek na změnu hesla pro přihlášení.
    </p>

    {% if type == 'reset-request' %}
        <p>
            Nové heslo nastaví{{ f ? 'te' : 'š' }} na adrese: <a href="{{ tokenUrl }}" title="Odkaz pro nastavení hesla" target="_blank">{{ tokenUrl }}</a>.
            Odkaz je platný 24 hodin od vygenerování.
        </p>
    {% elseif type == 'reset' %}
        <p>
            Nové heslo bylo úspěšně nastaveno.
            {% if password %}
                <br>Nově nastavené heslo: {{ password }}
            {% endif %}
        </p>
    {% else %}
        <p>
            Při zpracování požadavku na změnu hesla došlo k chybě.
        </p>
    {% endif %}
{% endblock %}




